<div class="main-container">
  <div class="navcontainer">
    <nav class="nav-admin">
      <div class="nav-upper-options">
        <div class="user-heading round">
          <a href="#">
            <img src="assets/images/admin.webp" alt="" class="user-image">
          </a>
          <p class="nom" style="color: white;font-size: large;" >{{prenom}} {{nom}}</p>
                
        </div>
        
        <div class="nav-option" (click)=hideShow(2)>
          <i class="fa-solid fa-message fa-2xl" style="color: #ffffff;"></i>
          <h3 class="x"> Messagerie</h3>
          
        </div>
        <a class="nav-option" (click)=hideShow(3)>
          <i class="fa-solid fa-bars fa-2xl" style="color: #ffffff;"></i>
          <h3 class="x"> Liste Clients</h3>
        </a>
        <a class="nav-option" (click)=hideShow(4)>
          <i class="fa-solid fa-bars fa-2xl" style="color: #ffffff;"></i>
          <h3 class="x"> Liste Comptables</h3>
        </a>

      </div>
    </nav>
  </div>
  <div class="main">
    <div class="report-container" [hidden]="client">
      <div class="report-header">
        <h1 class="recent-Articles">Liste des clients</h1>
      </div>
      <div class="report-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Nom & Prénom</th>
              <th scope="col">Offre</th>
              <th scope="col">Raison Sociale</th>
              <th scope="col">Email</th>
              <th scope="col">Matricule Fiscale</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of ClientArray; index as i">
              <td>{{ item['Prénom'] }} {{ item['Nom'] }}</td>
              <td>{{ item['offre'] }}</td>
              <td>{{ item['Raison_Sociale'] }}</td>
              <td>{{ item['email'] }}</td>
              <td>{{ item['Matricule_Fiscale'] }}</td>
            </tr>
          </tbody> 
        </table> 
      </div>
    </div>
    <div [hidden]="msg">
      <app-messagerie></app-messagerie>
    </div>
    <div class="report-container" [hidden]="comptable">
      <div class="report-header">
        <h1 class="recent-Articles">Liste des Comptables</h1>
        <button (click)="toggleComptableForm()" class="btn-grad plus" type="button"><i class="fa-solid fa-plus fa-xl" style="color: #005670;" ></i></button>
      </div>
      <div class="report-body">
        <table class="table table-striped">
          <thead>
            <tr>
              
              <th scope="col">Nom & Prénom</th>
              <th scope="col">Email</th>
              <th scope="col">Téléphone</th>
              <th scope="col">CIN</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item1 of CompArray; index as j">
              
              <td>{{ item1['Nom & Prénom'] }} </td>
              <td>{{ item1['mail'] }}</td>
              <td>{{ item1['tel'] }}</td>
              <td>{{ item1['cin'] }}</td>
              <td><button (click)="deleteComptable(item1)" type="button" class="btn" style="color: red">Supprimer</button></td>
            </tr>
          </tbody> 
        </table>
        
      </div>
      <br> 
      <div class="row justify-content-center align-items-center" *ngIf="isVisible">
        <div class="container">
          <form [formGroup]="adminForm">
            <div class="row justify-content-center">
              <div class="col-md-6">
                <label for="name" style="font-weight: bold;color: #ffffff; display: block;">Nom & Prénom</label>
                <input type="text" id="name" formControlName="name" placeholder="&nbsp; &nbsp; Nom & Prénom">
                <br>
                <div *ngIf="adminForm?.get('name')?.hasError('required') && submit " class="alert alert-danger alert-centered" role="alert" style="width:400px ; text-align: 30px;padding-left: 10px;">
                  <small class="text-danger" >Veuillez saisir un Nom & Prénom</small>
                </div>
                <div *ngIf="adminForm?.get('name')?.hasError('pattern') &&  submit " class="alert alert-danger alert-centered" role="alert" style="width:400px ; text-align: 30px;padding-left: 10px;">
                  <small class="text-danger">Nom & Prénom contient seulement des lettres </small>
                </div>
              </div>
            
                <br> 
              <div class="col-md-6">
                <label for="cin" style="font-weight: bold;color: #ffffff;display: block;">CIN</label>
                <input type="text" formControlName="cin" id="cin" placeholder="&nbsp; &nbsp; CIN">
                <br>
                <div *ngIf="adminForm?.get('cin')?.hasError('required') && submit " class="alert alert-danger alert-centered" role="alert" style="width:400px ; text-align: 30px;padding-left: 10px;">
                  <small class="text-danger">Veuillez saisir un CIN</small>
                </div>
                <div *ngIf="adminForm?.get('cin')?.hasError('pattern') &&  submit " class="alert alert-danger alert-centered" role="alert" style="width:400px ; padding-left: 10px;">
                  <small class="text-danger" >CIN doit avoir strictement 8 chiffres</small>
                </div>
                <div *ngIf="alertcin" class="alert alert-danger alert-centered" role="alert">
                  <small class="text-danger">Comptable déja existe avec cette CIN</small>
                </div>
              </div>
            </div>
            <br> 
            <div class="row">
              <div class="col-md-6">
                <label for="mail" style="font-weight: bold;color: #ffffff;display: block;">Email</label>
                <input type="email" formControlName="mail" id="mail" placeholder="&nbsp; &nbsp; Email">
                <br>
                <div *ngIf="adminForm?.get('mail')?.hasError('required') && submit  " class="alert alert-danger alert-centered" role="alert" style="width:400px ; text-align: 30px;padding-left: 10px;">
                  <small class="text-danger">Veuillez saisir un Email</small>
                </div>
                <div *ngIf="adminForm?.get('mail')?.hasError('pattern') && submit " class="alert alert-danger alert-centered" role="alert" style="width:400px ; text-align: 30px;padding-left: 10px;">
                  <small class="text-danger">Forme incorrecte</small>
                </div>
                <div *ngIf="alertmail" class="alert alert-danger" role="alert" style="width:400px ; text-align: 30px;padding-left: 10px;">
                  <small class="text-danger">Comptable déja existe avec cet Email</small>
                </div>
              </div>
              <br> 
              <div class="col-md-6">
                <label for="tel" style="font-weight: bold;color: #ffffff;display: block;">Numéro de téléphone</label>
                <input type="number" formControlName="tel" id="tel" placeholder="&nbsp; &nbsp; Numéro de téléphone">
                <br>
                <div *ngIf="adminForm?.get('tel')?.hasError('required') && submit " class="alert alert-danger alert-centered" role="alert" style="width:400px ; text-align: 30px;padding-left: 10px;">
                  <small class="text-danger" >Veuillez saisir un numéro de téléphone</small>
                </div>
                <div *ngIf="adminForm?.get('tel')?.hasError('pattern') &&  submit " class="alert alert-danger alert-centered" role="alert" style="width:400px ; text-align: 30px;padding-left: 10px;">
                  <small class="text-danger">Numéro de téléphone doit avoir uniquement 8 chiffres</small>
                </div>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-4.5">
                <label for="mdp" style="font-weight: bold;color: #ffffff;display: block;" >Mot de passe</label>
                <input type="password" formControlName="mdp" id="mdp" placeholder="&nbsp; &nbsp; Mot de passe">
                <br>               
                <div *ngIf="adminForm?.get('mdp')?.hasError('required') && submit " class="alert alert-danger alert-centered" role="alert" style="width:400px ; text-align: 30px;padding-left: 10px;">
                  <small class="text-danger">Veuillez saisir un mot de passe</small>
                </div>
              </div>
            </div>
            <br>
           
            <div class="row">
              <button class="ajouter" type="submit" name="submitbtn" (click)="submitForm()" (click)="buttonsubmit()">Ajouter</button>
              &#160;
              <button class="annuler" type="reset" name="submitbtn" (click)="annuler()">Annuler</button>
            </div>
            
          </form>
        </div>
      </div> 
  </div>
</div>