
    <div class="main-container"> 
         <div class="navcontainer"> 
            <nav class="nav-admin"> 
                <div class="nav-upper-options"> 
                    <div class="nav-option option1"> 
                      <i class="fa-solid fa-user fa-2xl" style="color: #ffffff;"></i>
                      <h3 class="x"> Profile</h3> 
                    </div> 
  
                    <div class="option2 nav-option"> 
                      <i class="fa-solid fa-list-check fa-2xl" style="color: #ffffff;"></i>     
                        <h3 class="x"> Outils de gestion</h3> 
                        <i class="fa-solid fa-chevron-down" style="color: #ffffff;" ></i>
                    </div> 
                    
                      
                    <div class="nav-option option3">
                        <i class="fa-solid fa-message fa-2xl" style="color: #ffffff;"></i>
                        <h3 class="x"> Messagerie</h3> 
                        <i class="fa-solid fa-chevron-down" style="color: #ffffff;" id="msg"></i>  
                    </div> 
      
                    <a class="nav-option" (click)=hideShow(3)> 
                        <i class="fa-solid fa-bars fa-2xl" style="color: #ffffff;"></i> 
                        <h3 class="x"> Liste Clients</h3>
                   </a>
                   <a class="nav-option" (click)=hideShow(3)> 
                    <i class="fa-solid fa-bars fa-2xl" style="color: #ffffff;"></i> 
                    <h3 class="x"> Liste Comptables</h3>
               </a> 
                    <div class="nav-option option5" style="color: #ffffff;"> 
                      <i class="fa-solid fa-file-signature fa-2xl"></i>
                        <h3 class="x"> Génération du contrat</h3>
                    </div> 
  
                </div> 
            </nav> 
        </div>  




        <div class="main"> 
            <div class="report-container" [hidden]="client"> 
                <div class="report-header"> 
                    <h1 class="recent-Articles">Liste des clients</h1>  
                </div>
                <div class="report-body"> 
                    <table class="table table-striped">
                        <thead style="background: linear-gradient(to left, #ad841f, #f2f0a1); ">
                          <tr>
                            <th scope="col">Nom & Prénom</th>
                            <th scope="col">Offre</th>
                            <th scope="col">Raison Sociale</th>
                            <th scope="col">Email</th>
                            <th scope="col">Matricule Fiscale</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of ClientArray; index as i">
                            <td>{{ item['Prénom'] }} {{ item['Nom'] }}</td>
                            <td>{{ item['offre'] }}</td>
                            <td>{{ item['Raison_Sociale'] }}</td>
                            <td>{{ item['email'] }}</td>
                            <td>{{ item['Matricule_Fiscale'] }}</td>
                          </tr>
                        </tbody>
                      </table> 
                </div>
            </div>
        </div> 