<!-- Navbar -->
<nav class="navbar navbar-expand-lg">
    <div class="container"> 
        <a class="navbar-brand navbar-logo" href="#"><img src="assets/images/Cairus1.png" alt="logo" class="logo-1"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> 
            <span class="navbar-toggler-icon"></span> <!-- Corrected here -->
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"> <a class="nav-link" [routerLink]="['/']">Home</a> </li>
                <li class="nav-item"> <a class="nav-link" [routerLink]="['/contact']">Contact</a> </li>
                <li class="nav-item" *ngIf="!isAccessTokenSet()"> <a class="nav-link" [routerLink]="['/login']">Login</a> </li>
                <li class="nav-item" *ngIf="isAccessTokenSet()"  (click)="logout()"> <a class="nav-link" [routerLink]="['/']">Logout</a> </li>
                <li class="nav-item" *ngIf="isAccessTokenSet()"> <a class="nav-link" [routerLink]="['/profile']"><i class="fa-solid fa-user"></i> {{nompr}} </a> </li>
            </ul>
        </div>
    </div>
</nav>
<!-- End Navbar -->