<!-- MultiStep Form -->
<div class="container-fluid" id="grad1">
    <div class="row justify-content-center mt-0">
        <div class="col-11 col-sm-9 col-md-7 col-lg-6 text-center p-0 mt-3 mb-2">
            <div class="card px-0 pt-4 pb-0 mt-3 mb-3">
                <h2 class="white"><strong>Suivre Ces Etapes pour avoir votre abonnement de domiciliation </strong></h2>
                <p class="white">Prière de remplir tous les champs pour passer à l'étape suivante</p>
                <div class="row">
                    <div class="col-md-12 mx-0">
                        <form id="msform">
                            <!-- progressbar -->
                            <ul id="progressbar">
                                <li class="active white" id="pack"><strong>Pack</strong></li>
                                <li id="entreprise"><strong class="white">Entreprise</strong></li>
                                <li id="personal"><strong class="white">Compte</strong></li>
                                <li id="confirm"><strong class="white">Fin</strong></li>
                            </ul>
                            <!-- fieldsets -->
                            <fieldset>
                                <div class="form-card">
                                    <h2 class="fs-title">Configurez votre pack</h2>
                                    <div class="row">
                                        <select class="list-dt" id="service" name="service" required>
                                            <option selected>Choisissez votre service</option>
                                            <option>Domiciliation</option>
                                        </select>
                                    </div>
                                    <div>
                                        <select class="list-dt" name="pack"  required>
                                            <option value="" disabled selected hidden>Choose your Pack</option>
                                            <option value="Trimestriel">Trimestriel</option>  
                                            <option value="Semestriel">Semestriel</option>  
                                            <option value="Annuel">Annuel</option>  
                                            <option value="Bi-Annuel">Bi-Annuel</option>   
                                        </select>
                                    </div>
                                    <input type="text" name="montant" value="Montant"/>
                                    
                                </div>
                                <button type="button" name="next" class="next action-button" value="Next Step">Suivant <i class="fa-solid fa-arrow-right"></i></button>
                            </fieldset>
                            <fieldset>
                                <div class="form-card">
                                    <h2 class="fs-title">Details D'entreprise</h2>
                                    <select class=" list-dt" id="fj" name="forme_juridique" required>
                                        <option value="" disabled selected hidden>Forme Juridique</option>
                                        <option value="Association">Association</option>
                                        <option value="SA">SA</option>
                                        <option value="SARL">SARL</option>
                                        <option value="SUARL">SUARL</option>
                                        <option value="Personne Physique">Personne Physique</option>
                                    </select> 
                                    <input name="rs" placeholder="Raison Sociale" class="" type="text" required/>
                                    <input name="mf" placeholder="Matricule Fiscale" class="" type="text" required/>
                                </div>
                                <button type="button" name="previous" class="previous action-button-previous" value="Previous"><i class="fa-solid fa-arrow-left"></i> Précédent</button>
                                <button type="button" name="next" class="next action-button" value="Next Step">Suivant <i class="fa-solid fa-arrow-right"></i></button>
                            </fieldset>
                            <fieldset>
                                <div class="form-card">
                                    <h2 class="fs-title">Créez votre compte</h2>
                                    <div class="row">
                                        <div class="col">
                                            <input type="text" name="nom" placeholder="Nom"/>
                                        </div>
                                        <div class="col">
                                            <input type="text" name="prénom" placeholder="Prénom"/>
                                        </div>
                                    <div class="row">
                                        <div class="col">
                                            <input type="number" name="cin" placeholder="CIN" length="8" pattern="\d{8}" required/>
                                        </div>
                                        <div class="col">
                                            <input type="date" name="date" placeholder="Délivrée le" required/>
                                        </div>
                                    </div>
                                        <input type="text" name="adresse" placeholder="Adresse" required/>
                                        <input type="email" name="email" placeholder="Email Id" required/>
                                        <input type="password" name="pwd" placeholder="Mot de passe" required/>
                                        <input type="password" name="cpwd" placeholder="Confirmez mot de passe" required/>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="yes" id="terms" required>
                                        <label class="form-check-label" for="terms">Je suis d'accord avec<a href="#">les termes et conditions</a></label>
                                    </div>
                                </div>
                                <button type="button" name="previous" class="previous action-button-previous" value="Previous"><i class="fa-solid fa-arrow-left"></i> Précédent</button>
                                <button type="submit" name="next" class="next action-button" value="Next Step">Suivant <i class="fa-solid fa-arrow-right"></i></button>
                            </fieldset>
                            <fieldset>
                                <div class="form-card">
                                    <h2 class="fs-title text-center">Success !</h2>
                                    <br><br>
                                    <div class="row justify-content-center">
                                        <div class="col-3">
                                            <img src="https://img.icons8.com/color/96/000000/ok--v2.png" class="fit-image">
                                        </div>
                                    </div>
                                    <br><br>
                                    <div class="row justify-content-center">
                                        <div class="col-7 text-center">
                                            <h5>You Have Successfully Signed Up</h5>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
