<!-- MultiStep Form -->
<div class="container-fluid" id="grad1">
    <div class="row justify-content-center mt-0">
        <div class="col-11 col-sm-9 col-md-7 col-lg-6 text-center p-0 mt-3 mb-2">
            <div class="card px-0 pt-4 pb-0 mt-3 mb-3">
                <h2 class="white"><strong>Suivre Ces Etapes pour avoir votre abonnement de domiciliation </strong></h2>
                <p class="white">Prière de remplir tous les champs pour passer à l'étape suivante</p>
                <div class="row">
                    <div class="col-md-12 mx-0">
                        <form id="msform" [formGroup]="domiciliationForm" ngSubmit="submitForm()">
                            <!-- progressbar -->
                            <ul id="progressbar">
                                <li  [ngClass]="{ 'active white': FieldsetNumber >= 1 }" id="pack"><strong class="white">Pack</strong></li>
                                <li  [ngClass]="{ 'active white': FieldsetNumber >= 2, 'white': FieldsetNumber < 2 }" id="entreprise"><strong class="white">Entreprise</strong></li>
                                <li [ngClass]="{ 'active white': FieldsetNumber >= 3, 'white': FieldsetNumber < 3 }" id="personal"><strong class="white">Compte</strong></li>
                                <li [ngClass]="{ 'active white': FieldsetNumber >= 4, 'white': FieldsetNumber < 4 }" id="confirm"><strong  class="white">Fin</strong></li>
                            </ul>
                         <!-- fieldsets -->
                            <fieldset  [ngStyle]="{ 'display': FieldsetNumber === 1 ? 'block' : 'none' , 
                        'opacity': FieldsetNumber === 1 ? '1' : '0' }">
                                <div class="form-card">
                                    <h2 class="fs-title">Configurez votre pack</h2>
                                    <div style="margin-top: 1rem;">
                                        <select class="form-select w-100" formControlName="pack" (change)="getMontant()" required>
                                            <option value="" disabled selected hidden>Fréquence de paiement</option>
                                            <option value="Trimestriel">Trimestriel</option>  
                                            <option value="Semestriel">Semestriel</option>  
                                            <option value="Annuel">Annuel</option>  
                                            <option value="Bi-Annuel">Bi-Annuel</option>   
                                        </select>
                                        <div *ngIf="domiciliationForm?.get('pack')?.hasError('required') && nextset">
                                            <small class="text-danger">Veuillez selectionner un pack</small>
                                          </div>
                                    </div>
                                    <div style="margin-top: 1rem;">
                                        <label for="montant">Montant:  </label>
                                        <output type="text" id="montant" name="montant"> {{price}} DT</output>
                                    </div>
                                    
                                </div>
                                <button type="button"   (click)="nextFieldset()" class=" action-button">Suivant <i class="fa-solid fa-arrow-right"></i></button>
                            </fieldset>
                            <fieldset  [ngStyle]="{ 'display': FieldsetNumber === 2 ? 'block' : 'none' , 
                            'opacity': FieldsetNumber === 2 ? '1' : '0'}">
                                <div class="form-card">
                                    <h2 class="fs-title">Details D'entreprise</h2>
                                    <select class="form-select" id="fj" formControlName="Forme_Juridique" required>
                                        <option value="" disabled selected hidden>Forme Juridique</option>
                                        <option value="Association">Association</option>
                                        <option value="SA">SA</option>
                                        <option value="SARL">SARL</option>
                                        <option value="SUARL">SUARL</option>
                                        <option value="Personne Physique">Personne Physique</option>
                                    </select> 
                                    <div *ngIf="domiciliationForm.get('Forme_Juridique')?.hasError('required') && nextset">
                                        <small class="text-danger">Veuillez spécifier la forme juridique de votre entreprise</small>
                                      </div>
                                    <div style="margin-top: 1rem;">
                                        <input formControlName="Raison_Sociale" placeholder="Raison Sociale" class="" type="text" required/>
                                        <div *ngIf="domiciliationForm.get('Raison_Sociale')?.hasError('required') && nextset">
                                            <small class="text-danger">Veuillez taper la raison sociale</small>
                                          </div>
                                    </div>
                                    <div style="margin-top: 1rem;">
                                        <input formControlName="Matricule_Fiscale" placeholder="Matricule Fiscale" class="" type="text" required/>
                                        <div *ngIf="domiciliationForm.get('Matricule_Fiscale')?.hasError('required') && nextset">
                                            <small class="text-danger">Veuillez taper votre matricule fiscale</small>
                                        </div>
                                        <div *ngIf="domiciliationForm.get('Matricule_Fiscale')?.hasError('pattern') && nextset">
                                            <small class="text-danger">Format Incorrect</small>
                                        </div>
                                    </div>
                                </div>
                                <button type="button"  (click)="prevFieldset()" class=" action-button" ><i class="fa-solid fa-arrow-left"></i> Précédent</button>
                                <button type="button"  (click)="nextFieldset()"  class=" action-button">Suivant <i class="fa-solid fa-arrow-right"></i></button>
                            </fieldset>
                            <fieldset  [ngStyle]="{ 'display': FieldsetNumber === 3 ? 'block' : 'none', 
                            'opacity': FieldsetNumber === 3 ? '1' : '0' }">
                                <div class="form-card">
                                    <h2 class="fs-title">Créez votre compte</h2>
                                    <div class="row">
                                        <div class="col">
                                            <input type="text" formControlName="Nom" placeholder="Nom"/>
                                            <div *ngIf="domiciliationForm?.get('Nom')?.hasError('required') && nextset" class="text-danger">
                                                Nom est obligatoire
                                            </div>
                                        </div>
                                        <div class="col">
                                            <input type="text" formControlName="Prénom" placeholder="Prénom"/>
                                            <div *ngIf="domiciliationForm?.get('Prénom')?.hasError('required') && nextset" class="text-danger">
                                                Prénom est obligatoire
                                              </div>
                                        </div>
                                    <div class="row">
                                        <div class="col">
                                            <input type="text" formControlName="Cin" placeholder="CIN" inputmode="numeric"/>
                                            <div *ngIf="domiciliationForm?.get('Cin')?.hasError('required') && nextset" class="text-danger">
                                                Cin est obligatoire
                                              </div>
                                              <div *ngIf="domiciliationForm?.get('Cin')?.hasError('pattern') && nextset" class="text-danger">
                                                Cin doit avoir strictement 8 chiffres
                                              </div>
                                        </div>
                                        <div class="col">
                                            <input type="number" formControlName="Tel" placeholder="Numéro de téléphone"/>
                                            <div *ngIf="domiciliationForm?.get('Tel')?.hasError('required') && nextset" class="text-danger">
                                                Numéro de téléphone est obligatoire
                                              </div>
                                              <div *ngIf="domiciliationForm?.get('Tel')?.hasError('pattern') && nextset" class="text-danger">
                                                Numéro de téléphone doit avoir strictement 8 chiffres
                                            </div>
                                        </div>
                                    </div>
                                        <input type="text" formControlName="Adresse" placeholder="Adresse" required/>
                                        <div *ngIf="domiciliationForm?.get('Adresse')?.hasError('required') && nextset" class="text-danger">
                                            Adresse est obligatoire
                                        </div>
                                        <input type="email" formControlName="email" placeholder="Email" required/>
                                        <div *ngIf="domiciliationForm?.get('email')?.hasError('required') && nextset" class="text-danger">
                                            Email est obligatoire
                                        </div>
                                        <div *ngIf="domiciliationForm?.get('email')?.hasError('email') && nextset" class="text-danger">
                                            Format incorrect
                                        </div>
                                        <div class="password-container">
                                            <input class="form-control" type="{{ showPassword ? 'text' : 'password' }}" formControlName="mdp" placeholder="Mot de passe" required/>
                                            <i class="fa fa-eye password-icon" (click)="togglePasswordVisibility()" [ngClass]="{ 'fa-eye-slash': showPassword }"></i>
                                        </div>
                                        <div *ngIf="domiciliationForm?.get('mdp')?.hasError('required') && nextset" class="text-danger">
                                            Mot de passe est obligatoire
                                        </div>
                                        <!-- <div *ngIf="domiciliationForm?.get('mdp')?.hasError('required') && nextset" class="text-danger">
                                            Les mots de passe entrés ne correspondent pas
                                        </div>
                                        <input type="password" formControlName="confirmmdp" placeholder="Confirmer votre Mot de passe" required/>
                                        <div *ngIf="domiciliationForm?.get('confirmmdp')?.hasError('required') && nextset " class="text-danger">
                                           Confirmation du Mot de passe est obligatoire
                                        </div>
                                        <div *ngIf="domiciliationForm.get('confirmmdp')?.errors?.['passwordMismatch'] && nextset" class="text-danger">
                                            Les mots de passe entrés ne correspondent pas.
                                        </div> -->
                                        
                                    </div>
                                </div>
                                <button type="button"  (click)="prevFieldset()" class=" action-button"><i class="fa-solid fa-arrow-left"></i> Précédent</button>
                                <button type="button"  (click)="nextFieldset();submitForm()" class=" action-button">Submit <i class="fa-solid fa-arrow-right"></i></button>
                            </fieldset>
                            <fieldset *ngIf="success" [ngStyle]="{ 'display': FieldsetNumber === 4 ? 'block' : 'none', 
                            'opacity': FieldsetNumber === 4 ? '1' : '0' }">
                                <div class="form-card">
                                    <h2 class="fs-title text-center">Success !</h2>
                                    <br><br>
                                    <div class="row justify-content-center">
                                        <div class="col-3">
                                            <img src="https://img.icons8.com/color/96/000000/ok--v2.png" class="fit-image">
                                        </div>
                                    </div>
                                    <br><br>
                                    <div class="row justify-content-center">
                                        <div class="col-7 text-center">
                                            <h5>You Have Successfully Signed Up</h5>
                                            <p>Vous trouverez votre contrat dans votre profil. </p>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
