<!-------Banner Start------->
<section class="banner" data-scroll-index='0'>
    <div class="banner-overlay">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-12">
            <div class="banner-text">
              <h2 class="white">CAIRUS DIGITAL BUSINESS CENTER</h2>
              <!--<h6 class="white">This awesome template designed by <a href="http://w3Template.com" target="_blank" rel="dofollow" class="weblink">W3 Template</a>.</h6>-->
              <p class="banner-text white">Cairus Digital Business Center est un centre d'affaires 
                nouvelle génération qui propose un processus entièrement digital pour les services 
                aux entreprises et la gestion des opérationsquotidiennes.
              </p>
            </div>
          </div>
          <div class="col-md-4 col-sm-12"> <img src="assets/images/kairos.png" class="img-fluid wow fadeInUp"/> </div>
        </div>
      </div>
    </div>
    <span class="svg-wave"> <img class="svg-hero" src="assets/images/applight-wave.svg"> </span> 
  </section>
  
  <!-------Banner End-------> 
  
<app-offres></app-offres>
  