<!-------Banner Start------->
<section class="banner" data-scroll-index='0'>
    <div class="banner-overlay">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-12">
            <div class="banner-text">
              <h2 class="white">CAIRUS DIGITAL BUSINESS CENTER</h2>
              <!--<h6 class="white">This awesome template designed by <a href="http://w3Template.com" target="_blank" rel="dofollow" class="weblink">W3 Template</a>.</h6>-->
              <p class="banner-text white">Cairus Digital Business Center est un centre d'affaires 
                nouvelle génération qui propose un processus entièrement digital pour les services 
                aux entreprises et la gestion des opérationsquotidiennes.
              </p>
            </div>
          </div>
          <div class="col-md-4 col-sm-12"> <img src="assets/images/kairos.png" class="img-fluid wow fadeInUp"/> </div>
        </div>
      </div>
    </div>
    <span class="svg-wave"> <img class="svg-hero" src="assets/images/applight-wave.svg"> </span> 
  </section>
  
  <!-------Banner End-------> 
  
<section class="packs" style="margin: 50px;" data-scroll-index='0'>
    <div class="row justify-content-center">
      <div class="col-md-4" *ngFor="let blog of reorderedBlogs ; index as i; first as isFirst">
        <div class="card" style="width: 100%">
          <div class="card-header">
            <h5 class="card-title white">{{blog['title']}}</h5>
            <h5><span class="badge">{{blog['prix']}} DT/Mois</span></h5>
          </div>
          <div class="card-body">
            
            <ul class="card-text white">
              <li>
                <i class="fa-solid fa-check" style="color: #63E6BE;"></i>
                Domiciliation
              </li>
              <li>
                <i class="fa-solid fa-check" style="color: #63E6BE;"></i> 
                Réception, tri et numérisation des courriers
              </li>
              <li>
                <i class="fa-solid fa-check" style="color: #63E6BE;"></i> 
                Conseil d'expert en domiciliation et création d'entreprise
              </li>
              <li>
                <i class="fa-solid fa-check" style="color: #63E6BE;"></i> 
                Notification de récéption par mail
              </li>
              <li>
                <i class="fa-solid fa-check" style="color: #63E6BE;"></i> 
                Support client: mail, téléphone, whatsapp 24/7
              </li>
              <li>
                <i class="fa-solid fa-check" style="color: #63E6BE;"></i> 
                Espace personnel Digital: suivi dossier, téléchargement des documents courriers scannées
              </li>
              <li>
                <i *ngIf="blog['réexpédition']==false" class="fa-solid fa-x" style="color: #f22645;"></i> 
                <i *ngIf="blog['réexpédition']==true" class="fa-solid fa-check" style="color: #63E6BE;"></i> 
                  Réexpedition du courrier à l'adresse de votre choix 1 fois/semaine
              </li>
              <li>
                <i *ngIf="blog['salle']==false" class="fa-solid fa-x" style="color: #f22645;"></i> 
                <i *ngIf="blog['salle']==true" class="fa-solid fa-check" style="color: #63E6BE;"></i>
                Accées à la salle de réunion 4h/mois
              </li>
              <li>
                <i *ngIf="blog['comptable']==false" class="fa-solid fa-x" style="color: #f22645;"></i> 
                <i *ngIf="blog['comptable']==true" class="fa-solid fa-check" style="color: #63E6BE;"></i>
                Assistance comptable
              </li>
                
            </ul>
            <button class="btn btn-grad" (click)="navigateToPackDetails(blog.title)"  >Commander</button>
          </div>
        </div>
      </div> 
    </div>
</section>
  