
<div class="container bootstrap snippets bootdey">
    <div class="row">
        <div class="profile-nav col-md-3">
                <div class="panel">
                    <div class="user-heading round">
                        <a href="#">
                            <img src="assets/images/155864-OV9V61-628.jpg" alt="">
                        </a>
                        <h1>{{prenom}} {{nom}}</h1>
                        <p>{{email}}</p>
                    </div>
                    <nav class="nav navbar flex-column">
                        <li class="nav-item"><a class="nav-link" (click)=hideShow(1)>Informations Personnelle</a></li>
                        <li class="nav-item"><a class="nav-link" (click)=hideShow(2)>Mes Courriers</a></li>
                        <li class="nav-item"><a class="nav-link" (click)=hideShow(3)>Mon Contrat</a></li>
                        <li class="nav-item"><a class="nav-link" (click)=hideShow(4)>Conférence en ligne</a></li>
                        <li class="nav-item"><a class="nav-link" (click)=hideShow(5)>Assistance comptable</a></li>
                        <li class="nav-item"><a class="nav-link" (click)=hideShow(6)>Secrétariat</a></li>
                    </nav>
                </div>
        </div>
        <div class="profile-info col-md-9">
            <div class="panel">
                <div class="panel-body bio-graph-info" [hidden]="info" id="informations-personnelle">
                    <h1>Informations Personelles</h1>
                    <div class="row">
                        <div class="bio-row">
                            <p><span>Prénom:</span> {{prenom}}</p>
                        </div>
                        <div class="bio-row">
                            <p><span>Nom:</span>{{nom}}</p>
                        </div>
                        <div class="bio-row">
                            <p><span>Raison Sociale:</span>{{rs}}</p>
                        </div>
                        <div class="bio-row">
                            <p><span>Adresse:</span>{{adresse}}</p>
                        </div>
                        <div class="bio-row">
                            <p><span>Occupation </span>: UI Designer</p>
                        </div>
                        <div class="bio-row">
                            <p><span>Email: </span>{{email}}</p>
                        </div>
                        <div class="bio-row">
                            <p><span>Mobile </span>: (12) 03 4567890</p>
                        </div>
                        <div class="bio-row">
                            <p><span>Phone </span>: 88 (02) 123456</p>
                        </div>
                    </div>
                </div>
                <div id="mes-courriers" [hidden]="courriers">
                    <p>courriers</p>
                </div>
            </div>
            <div>
                <div class="row" [hidden]="contrat">
                    
                </div>
            </div>
        </div>
    </div>
</div>